* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  border: solid;
  display: flex;
  justify-content: center;
  background-color: orange;
}
.question {
  border: solid 2px black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.Frage {
  text-align: center;
  margin: 30px;
}
.button {
  justify-content: center;
  height: 50px;
  margin: 10px 150px;
}
.nav {
  width: 100%;
  padding: 0px 0px 30px;
  border: solid;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  background-color: orange;
}
.home,
.bookmark,
.profil {
  height: 50px;
  width: 50px;
}
.profil {
  margin-top: 5px;
}
.topright {
  height: 60px;
  width: 60px;
  position: absolute;
  top: -10px;
  right: 5px;
}
.categories {
  display: flex;
}
.tag {
  border: solid 1px;
  margin: 15px 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: lightgray;
}
