* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  border: solid;
  display: flex;
  justify-content: center;
}
.question1,
.question2,
.question3 {
  border: solid;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.Frage1,
.Frage2,
.Frage3 {
  text-align: center;
  margin: 30px;
}
.button1,
.button2,
.button3 {
  justify-content: center;
  height: 50px;
  margin: 10px 150px;
}
