* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  border: solid;
  display: flex;
  justify-content: center;
  background-color: orange;
}
.question {
  border: solid 2px black;
  margin: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.frage {
  text-align: center;
  margin: 30px;
}
.button {
  justify-content: center;
  height: 50px;
  margin: 10px 150px;
}
.nav {
  width: 100%;
  border: solid;
  display: flex;
  position: fixed;
  bottom: 0px;
  background-color: orange;
}
.home,
.bookmark,
.profil {
  height: 50px;
  padding: 5px;
}
.profil {
  margin-top: 5px;
}
.link {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.active {
  background-color: lightgray;
}
.topright {
  height: 60px;
  width: 60px;
  position: absolute;
  top: -10px;
  right: 5px;
}
.categories {
  display: flex;
}
.tag {
  margin: 15px 5px;
  padding: 5px;
  border-radius: 10px;
  background-color: lightgray;
}
.userimg {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin: 50px 100px 50px 50px;
  box-shadow: 15px 15px 40px 5px #000000;
}
.imgname {
  display: flex;
  align-items: center;
}
.aboutme {
  margin: 20px 50px 50px 50px;
}
