@import "css/components/card.css";
@import "css/components/navbar.css";
@import "css/components/profil.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fef9e7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  border: solid;
  display: flex;
  justify-content: center;
  background-color: #f5b041;
  padding-bottom: 5px;
}
