@import "css/components/card.css";
@import "css/components/navbar.css";
@import "css/components/profil.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #fef9e7;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  border: solid;
  display: flex;
  justify-content: center;
  background-color: #f5b041;
  padding-bottom: 5px;
}
.darkmode {
  background-color: #404040;
  color: #121212;
}
.darkmode1 {
  background-color: #7e7e7e;
  color: #121212;
}
.bookmark--clicked {
  filter: invert(100%) sepia(1%) saturate(1677%) hue-rotate(322deg)
    brightness(100%) contrast(108%);
}
.hidden {
  display: none;
}
